<% wrap_layout :layout do %>
  <header class="img-holder intro-header" style="background-image: url('/images/backgrounds/bg-header-alt.jpg');">
    <%= partial "partials/nav" %>
  </header>
  <!-- /site-header -->
  <main class="main-content">
    <%= yield %>
  </main><!-- /main-content -->
<% end %>
