<%= partial "partials/head" %>
  <%= yield %>
  <footer class="site-footer">
    <section class="site-footer__content">
      <%= partial "partials/footer" %>
    </section><!-- /footer-content -->
  </footer><!-- /site-footer -->
  <%= javascript_include_tag "public" %>
</body>
</html>
