<%= partial "partials/head" %>
  <%= yield %>
  <footer class="site-footer">
    <section class="site-footer__content">
      <%= partial "partials/footer" %>
    </section><!-- /footer-content -->
  </footer><!-- /site-footer -->
  <%= javascript_include_tag "public" %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-54331852-1', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
