<nav class="site-nav" id="nav">
  <div class="site-nav__content">
    <%= link_to image_tag("img-logo.png"), "/", class: "site-nav__brand" %>
    <a href="#" class="site-nav__navicon-button x">
      <div class="navicon"></div>
    </a>
    <ul class="site-nav__link-list">
      <%
          site_pages = {
        "Services" => "/services",
        "Meet Us" => "/meet",
        "Contact Us" => "/contact",
        "Homeowner Tips" => "/blog"
      }
    %>
    <% site_pages.each do |name, url| %>
        <%= content_tag :li, link_to(name, url) %>
    <% end %>
    </ul> <!-- /link-list -->
  </div> <!-- /site-nav__content -->
  <!--placeholder div to prevent jumpy content when nav gets pinned-->
</nav> <!-- /site-nav -->
