// *************************************
//
//   Base
//   -> Base-level tags (body, p, etc.)
//
// *************************************


// -------------------------------------
//   Global
// -------------------------------------

* {
  @include box-sizing(border-box);
}

html {
  font-size: 100%;
}

body {
  background: $body-bg;
  color: $text-color;
  line-height: 1.5;
  font-size: 100%;
  font-family: $font-family-base;
  position: relative;
  border-top: 5px solid $brand-primary;

}

img {
  max-width: 100%;
}

hr {
  height: 1px;
  background: #CCC;
  margin: calc-em(48px) 0;
  border: none;
}

// -------------------------------------
//  Typography 
// -------------------------------------

// ----- Headlines ----- //

h1,
h2,
h3,
h4,
h5,
h6, {
  margin: 0;
  line-height: 1.25;
  font-family: $headings-font-family;
  color: $headings-color;
  font-weight: 700;
}

h4,
h6{
  font-family: $subheadings-font-family;
}

h1 {
}
h2 {
}
h3 {
}
h4 {
}
h5 {
}
h6 {
}

h1 + h1,
h2 + h2,
h3 + h3,
h4 + h4,
h5 + h5,
h6 + h6 {
  margin-top: 1em;
}


// ----- Text blocks ----- //

p {
  margin: 0 0 .5em 0;
  &:last-child {
    margin-bottom: 0;
  }
  &.disclaimer {
    font-size: calc-em(13px);
  }
}

blockquote {
  p {
    font-size: calc-em(21px);
  }
  cite {
    font-family: $font-family-sans-serif;
    font-style: normal;
  }
  .blog & {
    p {
      font-style: italic;
      color: #CCC;
    }
  }
}


// ----- Inline elements ----- //

em {
}

strong {
}

// ----- List elements ----- //

dt {
  margin-bottom: 0.5em;
}
dd {
  margin-bottom: 1.5em;
}

// -------------------------------------
//  Links 
// -------------------------------------
a {
  text-decoration:    none;
  -webkit-transition: color .3s ease-in-out;
  transition:         color .3s ease-in-out;
}

a:link    {
  color: $brand-secondary;
  -webkit-transition: color .3s ease-in-out;
  transition:         color .3s ease-in-out;
  font-weight: 700;
}

a:visited {
  color: $brand-secondary;
}

a:hover   {
  color: $brand-secondary;
  -webkit-transition: color .3s ease-in-out;
  transition:         color .3s ease-in-out;
}

a:active  {
  color: $brand-secondary;
  -webkit-transition: color .3s ease-in-out;
  transition:         color .3s ease-in-out;
}

// -------------------------------------
//  Forms 
// -------------------------------------

input {
  &[type="text"] {
    -webkit-appearance:none;
    border: none;
    @include box-shadow(none);
    @include border-radius(0);
    background: $gray-lighter;
    font-size: calc-em(16px);
    height: calc-em(42px, 16px);
    padding: calc-em(8px);
    line-height: calc-em(24px, 16px);
    &:focus,
    &:active {
      background: $white;
    }
  }
}

label,
label.control-label {
  font-size: calc-em(13px);
  
}

legend {
  font-size: calc-em(14px);
  margin: 0 0 calc-em(7px, 14px) 0;
}
