body.index {
    .intro-header {
    
    }

  .img-holder {
    position: relative;
    background-attachment: fixed;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    &.intro-header {
      background-size: cover;
      background-position: 50%;

    }
    .quote {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      @include transform(translateY(-50%));
      margin: 0 auto;
      @extend %container;
      font-family: "caflisch-script-pro";
      color: $white;
      font-style: normal;
      p {
        font-size: calc-em(50px);
        line-height: calc-em(70px, 50px);
        margin-bottom: 0; 
        @include respond-to(45em) {
          font-size: calc-em(90px);
        }
      }
      cite {
        font-size: calc-em(24px);
        font-style: normal;
        font-family: $font-family-sans-serif;
      }
    }
  }

  .who-we-are__content,
  .featured-project__content,
  .what-we-do__content,
  .how-we-do-it__content {
    @extend %container;
  }
  .who-we-are,
  .featured-project,
  .what-we-do,
  .how-we-do-it {
    padding: calc-em(80px) 0;
  }
  .who-we-are,
  .what-we-do {
  }
  
  .who-we-are {
    @include background(#CCC image_url("backgrounds/bg-diamond_upholstery.png") repeat top left);
    text-align: center;
    h1 {
      font-size: calc-em(42px);
      color: $brand-primary;
      text-transform: uppercase;
      margin-bottom: calc-em(16px, 42px);
    }
    p {
      font-weight: 100;
      font-size: calc-em(24px);
      margin-bottom: calc-em(24px, 24px);
      a {
        color: $brand-secondary;
        font-weight: 100;
        text-decoration: underline;
      }
    }
  } //who-we-are

  .featured-project {
    padding-bottom: 0;
    h2 {
      color: $brand-primary;
    } //h2
    .featured-project__images {
      width: 100%;
      @include respond-to(40em) {
        display: block;
        font-size: .1px;
        display: inline-block;
        text-align: justify;
      }
      &:after {
        content: "";
        width: 100%;
        display: inline-block;
      }
      a {
        display: block;
        @include respond-to(40em) {
          display: inline-block;
          width: 30%;
        }        
        img {
          width: 100%;
        } //img
      } //a
    } //featured-project__images
    .project-services {
      margin-bottom: calc-em(32px);
    }
    .testimonial {
      margin-bottom: calc-em(16px);
      @include respond-to(46.875em) {
        //750px
        @include span-columns(7);
      }
    } //testimonial 
    .btn {
      width: 100%;
      @include respond-to(46.875em) {
        //750px
        @include span-columns(5 omega);
      }
      @include respond-to(58.75em) {
        @include span-columns(4 omega);
      }
    } //btn
  } //featured-project

  .what-we-do {
    @extend %group;
    .section-header {
      h3 {
        color: $brand-primary;
      }
    }
    .service-description {
      margin-bottom: calc-em(32px);
      @include respond-to(53.125em) {
        //850px
        margin-bottom: 0;
        @include span-columns(4);
        @include nth-omega(3n);
      }
      &.finishing .service-description__header h3:before {
        @include background($orange image-url("icons/level.png") no-repeat center); 
        background-size: 70%;
      }
      &.development .service-description__header h3:before {
        @include background($orange image-url("icons/hammer.png") no-repeat center); 
        background-size: 70%;
      }
      &.remodeling .service-description__header h3:before {
        @include background($orange image-url("icons/brush.png") no-repeat center); 
        background-size: 70%;
      }
    }
    .service-description__header {
      h3 {
        font-size: calc-em(28px);
        text-transform: uppercase;
        display: inline-block;
        vertical-align: top;
        line-height: calc-em(45px, 28px);
        &:before {
          content: "";
          display: inline-block;
          width: calc-em(45px, 28px);
          height: calc-em(45px, 28px);
          margin-right: calc-em(12px, 28px);
          @include border-radius(23px);
        }
      }
    }
  }
}
