body.interior {
  .page-header {
    margin-top: calc-em(99px);
    @include respond-to(45em) {
      margin-top: 0;
    }
    h1 {
      font-size: calc-em(48px);
      @include respond-to(33.75em) {
        font-size: calc-em(64px);
      }
    }
    h2 {
      color: #CCC;
      font-size: calc-em(28px);
      margin-bottom: calc-em(14px, 28px);
    }
    p {
      font-size: calc-em(21px);
    }
    .page-header__content {
      @extend %container;
    }
  }
  .main-content {
    @extend %container;
    padding-bottom: calc-em(72px);
  }
  .site-footer {
    margin-top: calc-em(72px);
  }
}
