body.meet {
  .interior-header {
    margin-bottom: 0;
  }
  .main-content {
    padding-bottom: 0;
    @extend %group;
  }
  .img-holder {
    height: 150px;
    position: relative;
    width: 100%;
    overflow: hidden;
    @include respond-to(45em) {
      height: 450px;
    }
    .img-bg {
      height: 150px;
      background-position: 0;
      background-attachment: fixed;
      background-position: top;
      background-size: cover;
      @include respond-to(45em) {
        height: 450px;
      }
    }
  }
  .about-article {
    margin-bottom: calc-em(32px);
    @include respond-to(42.5em) {
      @include span-columns(7);
    }
    p {
      + h3 {
        margin-top: calc-em(32px);
      }
    }
  }
  .property-difference {
    background: $gray-lighter;
    padding: calc-em(16px);
    @include respond-to(42.5em) {
      @include span-columns(5 omega);
    }
  }
}

