body.meet {
  .interior-header {
    margin-bottom: 0;
  }
  .main-content {
    padding-bottom: 0;
  }
  .img-holder {
    position: relative;
    background-attachment: fixed;
    height: 150px;
    background-position: 0 25%;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    margin-bottom: calc-em(24px);
    @include respond-to(45em) {
      height: 450px;
      background-attachment: fixed;
      background-size: cover;
      background-position: top;
    }
  }
  .about-article {
    margin-bottom: calc-em(32px);
    @include respond-to(42.5em) {
      @include span-columns(7);
    }
    p {
      + h3 {
        margin-top: calc-em(32px);
      }
    }
  }
  .property-difference {
    background: $gray-lighter;
    padding: calc-em(16px);
    @include respond-to(42.5em) {
      @include span-columns(5 omega);
    }
  }
}

