body.services {
  .interior-header {
    margin-bottom: 0;
  }
  .main-content {
    padding-bottom: 0;
  }
  .img-holder {
    position: relative;
    text-align: center;
    margin-bottom: calc-em(24px);
    height: 150px;
    background-position: 0 15%;
    background-size: contain;
    background-repeat: no-repeat;
    @include respond-to(45em) {
      height: 450px;
      background-attachment: fixed;
      background-size: cover;
      background-position: top;
    }
  }
  .btn--secondary {
    display: block;
    margin: 0 auto;
  }
}
