<section class="holding">
  <header class="holding-header">
    <%= image_tag "img-logo.png" %>
  </header> <!-- /holding-header -->

  <div class="holding-body">
    <p>Stay tuned, we're working on a new website and will be back soon.</p>
    <p>In the meantime we're still open for both new and returning business.</p>
    <h3>You can Call the Pros for</h3>
    <div class="services">
      <ul>
        <li>General Construction </li>
        <li>Roofing/Siding </li>
        <li>Windows/Doors </li>
        <li>Storm Damage </li>
        <li>Restoration </li>
      </ul>
      <ul>
        <li>Insurance Claims </li>
        <li>Interior &amp; Exterior Remodeling and Renovation </li>
        <li>Concrete/Asphalt </li>
        <li>Multi-Unit Property Maintenance</li>
      </ul>
    </div>
  </div> <!-- /holding-body -->

  <footer class="holding-footer">
    <p><%= link_to "Email", "mailto:info@call-the-pros.com" %> or call us at (513) 488-1000 to get in touch.</p>
  </footer> <!-- /holding-footer -->

</section> <!-- /holding -->
