<section class="holding">
  <header class="holding-header">

  </header> <!-- /holding-header -->

  <div class="holding-body">
  
  </div> <!-- /holding-body -->

  <footer class="holding-footer">
  
  </footer> <!-- /holding-footer -->

</section> <!-- /holding -->
