---
page_classes: "interior"
meta_description: "Midwest Property Pros are dedicated to always doing the right thing when it comes to your construction or restoration project."
---
</main>
<header class="page-header">
  <div class="img-holder" style="background-image: url('/images/backgrounds/bg-meet.jpg');" data-stellar-ratio=".5"></div>
  <div class="page-header__content">
    <h1>Meet Us</h1>
    <h2>Do the right thing. It will gratify some people and astonish the rest. &mdash; Mark Twain</h2>
    <p>The Property Pros mission is just that simple.  Doing the right thing, morally and ethically, serves as our daily motto and has from the inception of our company. The RIGHT way ALWAYS enables us to be proud of our work, which allows you to maintain a tremendous sense of pride in your home or property!</p>
  </div>
</header> <!-- /page-header -->

<div class="main-content">
<hr />

<article class="about-article">
  <h2>Setting Ourselves Apart</h2>
  <p>Our goal is to create an impression on clients from our first encounter that reflects our character and provides you with the assurance that we will truly handle your project as if it were our own. We strongly believe that is the only approach to earn your trust and respect.  The best way to grow our business is to have happy clients tell friends and family of how they experienced  professionalism, a high standard of quality, and exemplary customer service with Property Pros. We spend our entire professional lives with friends...friends we make through the relationships we build every single day with people just like you. It is truly our passion and our pleasure to serve as your one and only call for all of your wants and needs when it comes to your home or property.</p>
  <p>We know we are a business in an industry known for subpar work and contractors being less than honest with clients</p>
  <p>We have to work HARD to overcome the perceptions of the industry to gain the trust of homeowners &hellip;.and that trust is something we DO NOT take lightly!</p>
</article> <!-- /about-article -->

<div class="property-difference">
  <header class="difference__header">
    <h3>How do we set ourselves apart?</h3>
  </header> <!-- /difference__header -->
  <ul>
    <li>Timely arrival for design consultation</li>
    <li>We conduct a thorough consultation with each client that focuses strictly on the design goals of the project.</li>
    <li>We only use quality materials from quality manufacturers to help the 	 		 &ldquo;value&rdquo; of the project exceed the cost</li>
    <li>We provide thorough design preparation and deliver that information using state-of-the-art technology that allows the client to virtually "feel" the new design before construction ever begins.</li>
    <li>d "We arrive on time the day construction begins and exhibit professionalism throughout the project.</li>
    <li>We strive to handle the &ldquo;unforeseen obstacles&rdquo; every project has immediately upon discovery. From there, a thorough explanation is given and documentation is provided to allow the client to understand why a change in the project is necessary</li>
    <li>We utilize web-based project management software to allow the customer 		 to keep track of the job&rsquo;s progress</li>
    <li>We clean each job site everyday to limit disruptions as much as possible during construction.</li>
    <li>We perform a post-construction inspection with each client to ensure the quality they envisioned when they chose THE PROS has been met and exceeded.</li>
    <li>We conduct check backs with clients 30 days after job completion to ensure they are still 100% satisfied.</li>
    <li>We offer a warranty that&rsquo;s 5x&rsquo;s longer than average for construction 		 	 companies</li>
    <li>We carry 5x&rsquo;s more insurance than average for a construction company</li>
    <li>We truly....TRULY treat every client like family! We KNOW it is VERY difficult to find a contractor that you can trust! We love to go one step beyond that and literally develop lasting relationships with many of our clients....just like family!</li>
  </ul>
</div><!-- /property-difference -->
