---
page_classes: "interior"
---
</main>
<header class="page-header">
  <div class="img-holder" style="background-image: url('/images/backgrounds/bg-meet.jpg');" data-stellar-ratio=".5"></div>
  <div class="page-header__content">
    <h1>Meet Us</h1>
    <h2>Do the right thing. It will gratify some people and astonish the rest. &mdash; Mark Twain</h2>
    <p>The Property Pros mission is just that simple.  Doing the right thing, morally and ethically, serves as our daily motto and has from the inception of our company. The RIGHT way ALWAYS enables us to be proud of our work, which allows you to maintain a tremendous sense of pride in your home or property!</p>
  </div>
</header> <!-- /page-header -->

<main class="main-content">
<hr />

<article class="about-article">
  <h2>Setting Ourselves Apart</h2>
  <p>Our goal is to create an impression on clients from our first encounter that reflects our character and provides you with the assurance that we will truly handle your project as if it were our own. We strongly believe that is the only approach to earn your trust and respect.  The best way to grow our business is to have happy clients tell friends and family of how they experienced  professionalism, a high standard of quality, and exemplary customer service with Property Pros. We spend our entire professional lives with friends...friends we make through the relationships we build every single day with people just like you. It is truly our passion and our pleasure to serve as your one and only call for all of your wants and needs when it comes to your home or property.</p>
  <p>You will hear me say time and again, we go above and beyond to set ourselves apart from our competition (AS YOU CAN CLEARLY SEE)!!</p>
  <p>We know we are a commodity business in an industry known for subpar work and contractors being less than honest in business dealings with homeowners.</p>
  <p>We have to work HARD to overcome the perceptions of the industry to gain the trust of homeowners &hellip;.and that trust is something we DO NOT take lightly!</p>
  <h3>If You Can't Have Fun Doing It, It Just Ain't Worth Doin'!</h3>
  <p>Always wanted to be a superhero &ndash; but as you can tell, I should stick to what I&rsquo;m good at doing! </p>
  <p>I set out on a mission to do many of the same things other people do everyday&hellip;.only to do them in a way that &ldquo;feels&rdquo; new and different. I&rsquo;ve always been able to bring people together&hellip;.to get people excited about things that excite me. I like to think that passion is the fuel behind the success of Property Pros. We strive to exceed customer expectations, improve our craft daily, and to have one hell of a good time doing it!</p>
  <p>Our daily goal is to provide a service for commercial/residential customers where the overall VALUE of the project exceeds the job&rsquo;s cost.</p>
</article> <!-- /about-article -->

<div class="property-difference">
  <header class="difference__header">
    <h3>How do we set ourselves apart?</h3>
  </header> <!-- /difference__header -->
  <ul>
    <li>Professional website (display)</li>
    <li>Attractive and memorable logo/clothing</li>
    <li>Attractive vehicles suited for the job (no cars)</li>
    <li>Timely arrival for design consultation</li>
    <li>We show the homeowner that we care by conducting a thorough 	 	 		 consultation that focuses on them&hellip;not on telling them how much we know 		 or by assuming we know what the customer wants. We literally ask the 		 homeowner questions for at least 30 minutes before &ldquo;telling&rdquo; (pushing our 		 agenda) them one piece of information</li>
    <li>We only use quality materials from quality manufacturers to help the 	 		 &ldquo;value&rdquo; of the project exceed the cost</li>
    <li>We provide thorough design preparation and deliver that information using 		 technology that allows the homeowner to virtually &ldquo;feel&rdquo; the new or newly 		 designed space before construction begins</li>
    <li>We again arrive on time the day construction begins and exhibit 		 		 professionalism throughout the project</li>
    <li>We strive to handle the &ldquo;unforeseen obstacles&rdquo; every project has 		 	 immediately upon discovery. From there, a thorough explanation is given 		 and documentation is provided to allow the homeowner to understand why 		 a change in the project is necessary</li>
    <li>We utilize web-based project management software to allow the customer 		 to keep track of the job&rsquo;s progress</li>
    <li>We clean every job site at the end of everyday in an effort to disrupt the 		 lifestyle of the homeowner as little as possible</li>
    <li>We complete a post-job walkthrough with each homeowner to ensure the 		 quality in the vision they created in their mind when they signed the 		 	 contract has been met and exceeded</li>
    <li>We conduct check backs with customers 30 days after job completion to 		 ensure no problems have occurred</li>
    <li>We offer a warranty that&rsquo;s 5x&rsquo;s longer than average for construction 		 	 companies</li>
    <li>We carry 5x&rsquo;s more insurance than average for a construction company</li>
    <li>We truly&hellip;truly treat each and every customer like family! Their home is 		 their castle and we are there to provide a reliable source for improving 		 their castle.</li>
  </ul>
</div><!-- /property-difference -->
