// *************************************
//
//   Buttons
//   -> Site-wide Buttons
//
// *************************************


.btn {
  border: 3px solid $brand-primary;
  background: transparentize($brand-primary, .9);
  color: $brand-primary;
  text-transform: uppercase;
  font-size: calc-em(16px);
  line-height: calc-em(72px, 16px);
  font-family: $font-family-sans-serif;
  text-align: center;
  display: inline-block;
  font-weight: 300;
  padding-left: calc-em(10px, 16px);
  padding-right: calc-em(10px, 16px);
  @include respond-to(23.75em) {
    font-size: calc-em(21px);
  }
}

// -------------------------------------
//   Elements
// -------------------------------------

// ----- Example Header ----- //
.example--header {

}

// ----- Example Body ----- //
.example-body {

}

// ----- Example Footer ----- //
.example-footer {

}


// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Secondary ----- //
.btn--secondary {
  border-color: $brand-secondary;
  background: transparentize($brand-secondary, .9); 
  color: $brand-secondary;
}

// -------------------------------------
//   States
// -------------------------------------



// -------------------------------------
//   Context
// -------------------------------------

// .has-module

// -------------------------------------
//   Submodules
// -------------------------------------





