// *************************************
//
//   Buttons
//   -> Site-wide Buttons 
//
// *************************************


.btn {
  border: 3px solid $brand-primary;
  background: transparentize($brand-primary, .9); 
  color: $brand-primary;
  text-transform: uppercase;
  font-size: calc-em(21px);
  line-height: calc-em(84px, 21px);
  padding: 0 calc-em(21px, 21px);
  font-family: $font-family-sans-serif;
}

// -------------------------------------
//   Elements
// -------------------------------------

// ----- Example Header ----- //
.example--header {

}

// ----- Example Body ----- //
.example-body {

}

// ----- Example Footer ----- //
.example-footer {

}


// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Secondary ----- //
.btn--secondary {
  border-color: $brand-secondary;
  background: transparentize($brand-secondary, .9); 
  color: $brand-secondary;
}

// -------------------------------------
//   States
// -------------------------------------



// -------------------------------------
//   Context
// -------------------------------------

// .has-module

// -------------------------------------
//   Submodules
// -------------------------------------





