// *************************************
//
//   Interior Header
//   -> Nav, background images for
//   interior pages
//
// *************************************


.interior-header {
  background: rgba(50,50,50,.97);
  background-size: cover;
  margin-bottom: calc-em(64px);
  @include box-shadow(inset rgba(0,0,0,.1) 0 -10px 16px);
  .site-nav {
    background: none;
    padding: calc-em(10px) 0;
    @include transition(background-color .2s linear);
    .site-nav__brand {
      width: 8%;
    }
    li {
      font-size: calc-em(14px, .1px);
    }
    li a {
      line-height: calc-em(50px, 14px);
    }
    &.stuck {
      background: rgba(50,50,50,.97);
    }
  }
}

// -------------------------------------
//   Elements
// -------------------------------------

// ----- Section Header ----- //
.section-header {
  h3 {
    font-size: calc-em(16px);
    text-transform: uppercase;
  }
} //section-header


// -------------------------------------
//   Modifiers
// -------------------------------------


// -------------------------------------
//   States
// -------------------------------------



// -------------------------------------
//   Context
// -------------------------------------

// .has-module

// -------------------------------------
//   Submodules
// -------------------------------------







