// *************************************
//
//  Project Services 
//   -> Listing of services per project 
//
// *************************************


.project-services {
  background: $gray-lighter;
  padding: calc-em(6px) calc-em(12px);
}

// -------------------------------------
//   Elements
// -------------------------------------

.project-services {
  h4 {
    display: inline;
  }
}

// ----- Project Services List ----- //
.project-services__list {
  @extend %zero-list;
  display: inline-block;
  li {
    font-weight: normal;
    padding: 0 calc-em(16px);
    a {
      color: $brand-primary;
    }
  }
}


// -------------------------------------
//   Modifiers
// -------------------------------------


// -------------------------------------
//   States
// -------------------------------------



// -------------------------------------
//   Context
// -------------------------------------

// .has-module

// -------------------------------------
//   Submodules
// -------------------------------------







