// *************************************
//
//   Section Header
//   -> Homepage as a primary example 
//
// *************************************


.section-header {
  border-bottom: 1px solid $brand-secondary;
  margin-bottom: calc-em(16px);
  padding-bottom: calc-em(8px);
}

// -------------------------------------
//   Elements
// -------------------------------------

// ----- Section Header ----- //
.section-header {
  h3 {
    font-size: calc-em(16px);
    text-transform: uppercase;
  }
} //section-header


// -------------------------------------
//   Modifiers
// -------------------------------------


// -------------------------------------
//   States
// -------------------------------------



// -------------------------------------
//   Context
// -------------------------------------

// .has-module

// -------------------------------------
//   Submodules
// -------------------------------------






