// *************************************
//
//  Site Navigation 
//   -> Main site navigation in header 
//
// *************************************


.site-nav {
  background: #FFF;
  background: rgba(255,255,255,.95);
  border-bottom: 1px solid $brand-primary;
  @extend %group;
  right: 0;
  left: 0;
  top: 0;
  bottom: auto;
  position: fixed;
  z-index: 1;
    @include respond-to(45em) {
      position: static;
      top: auto;
      left: auto;
      right: auto;
      bottom: auto;
      &.stuck {
        right: 0;
        left: 0;
        top: 0;
        bottom: auto;
        position: fixed;
        z-index: 1;
      }
    }
  .home & {
    @include respond-to(45em) {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      &.stuck {
        right: 0;
        left: 0;
        top: 0;
        bottom: auto;
        position: fixed;
        z-index: 1;
      }
    }
  }
} //site-nav

// -------------------------------------
//   Elements
// -------------------------------------

.site-nav__content {
  @extend %container;
} //site-nav__content

.site-nav__navicon-button {
  display: inline-block;
  position: relative;
  padding: calc-em(33px) calc-em(24px);
  user-select: none;
  opacity: .8;
  float: right;
  @include respond-to(45em) {
    display: none;
  }
  .navicon {
    position: relative;
    width: calc-em(35px);
    height: calc-em(3px);
    @include border-radius(30px);
    background: #FFF;
    @include transition(.15s linear all);
    &:after,
    &:before {
      display: block;
      content: "";
      width: calc-em(35px);
      height: calc-em(3px);
      background: #FFF;
      position: absolute;
      z-index: -1;
      @include border-radius(10px);
      @include transition(.25s linear all);
    }
    &:before {
      top: (calc-em(10px));
    }
    &:after {
      top: -(calc-em(10px));
    }
  }
  &.open {
    .navicon {
      background: transparent; 
      &:before {
        @include rotate(-45deg);
        top: 0;
      }
      &:after {
        top: 0;
        @include rotate(45deg);
      }
    }
  }
}

.site-nav__brand {
  text-align: center;
  float: left;
  width: 40%;
  padding: calc-em(10px) 0;
  @include respond-to(45em) {
    width: 160px;
  }
} //site-nav__brand

.site-nav__link-list {
  @extend %zero-list;
  font-size: .1px;
  display: inline-block;
  text-align: justify;
  display: none;
  clear: both;
  width: 100%;
  @include respond-to(45em) {
    clear: none;
    display: inline-block;
    width: 80%;
    float: right;
  }
  &:after {
    content: "";
    width: 100%;
    display: inline-block;
  } //after
  li {
    display: block;
    font-size: calc-em(14px, .1px);
    @include respond-to(45em) {
      display: inline-block;
      text-align: center;
    }
    @include respond-to(52.5em) {
      //840px
      font-size: calc-em(16px, .1px);
    }
  } //li
  a {
    text-transform: uppercase;
    font-size: calc-em(21px, 16px);
    padding: 0 calc-em(16px, 21px);
    line-height: calc-em(90px, 21px);
    font-family: $font-family-sans-serif; 
    display: block;
    color: $brand-secondary;
  } //a
  &.open {
    display: inline-block;
  }
} //site-nav__link-list

// -------------------------------------
//   Modifiers
// -------------------------------------


// -------------------------------------
//   States
// -------------------------------------



// -------------------------------------
//   Context
// -------------------------------------

// .has-module

// -------------------------------------
//   Submodules
// -------------------------------------








