// *************************************
//
//   Testimonial 
//   -> Testimonials for each project 
//
// *************************************


.testimonial {
  @extend %group;
}

// -------------------------------------
//   Elements
// -------------------------------------

// ----- Testimonial Text ----- //
.testimonial__text {
  @include respond-to(26.875em) {
    text-align: center;
    width: 67%;
    margin: 0 auto;
  }
  p {
    font-style: italic;
    font-size: calc-em(21px);
    line-height: calc-em(31px, 21px);
    color: $gray-light;
  }
} //testimonial-source

// ----- Testimonial Source ----- //
.testimonial__source {
  font-family: $font-family-sans-serif;
  font-size: calc-em(18px);
  color: $brand-secondary;
}


// ----- Testimonial Photo ----- //
.testimonial__photo {
  text-align: center;
  @include respond-to(26.875em) {
    //430px
    float: left;
    width: 20%;
  }
  @include respond-to(30em) {
    width: 33%;
  }
  img {
    @include filter(drop-shadow(rgba(0,0,0,.15) 0 0 0));
  }
}



// -------------------------------------
//   Modifiers
// -------------------------------------


// -------------------------------------
//   States
// -------------------------------------



// -------------------------------------
//   Context
// -------------------------------------

// .has-module

// -------------------------------------
//   Submodules
// -------------------------------------







